<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="body_wrapper">
      <div class="sticky-outer-wrapper" style="">
        <div
          class="sticky-inner-wrapper"
          style="
            position: relative;
            z-index: 9999;
            transform: translate3d(0px, 0px, 0px);
          "
        >
          <header class="header_area">
            <nav class="navbar navbar-expand-lg menu_one undefined">
              <div class="container undefined">
                <a class="navbar-brand undefined" href="/HR-Management"
                  ><img src="/images/media/logo2.9566d751.png" alt="" /><img
                    src="/images/media/logo2x.214c7508.png"
                    alt="logo" /></a
                ><button
                  class="navbar-toggler collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="menu_toggle"
                    ><span class="hamburger"
                      ><span></span><span></span><span></span></span
                    ><span class="hamburger-cross"
                      ><span></span><span></span></span
                  ></span>
                </button>
                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav menu ml-auto undefined">
                    <li class="nav-item">
                      <a class="nav-link" title="Home" href="/HR-Management"
                        >Home</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" title="Features" href="/Service"
                        >Features</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        aria-current="page"
                        class="nav-link active"
                        title="About"
                        href="/About"
                        >About</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" title="Pricing" href="/Contact"
                        >Contact</a
                      >
                    </li>
                  </ul>
                  <a class="btn_get btn_hover new_btn" href="getstartedform"
                    >Get Started</a
                  >
                </div>
              </div>
            </nav>
          </header>
        </div>
      </div>
      <section class="error_two_area"></section>
      <div class="jumbotron">
        <center>
          <h2 style="color: rgb(255, 255, 255)">About us</h2>
          <p style="color: rgb(255, 255, 255)">
            Rewa HR is the most popular open source human resource management
            (HRM) software
          </p>
        </center>
      </div>
      <div class="container">
        <p>
          When you need to rapidly onboard a full-service HR environment, RewaHR
          meets your business and budget requirements. We help you optimize your
          HR environment with options that include:
        </p>
        <li>Cloud or On-Premise hosting</li>
        <li>Module-based architecture—purchase the features you want</li>
        <li>Pay-per-employee pricing structure</li>
        <li>Customization</li>
        <li>Implementation training and delivery</li>
        <li>Support services</li>
        <br />
        <p>
          When you need a superb, scalable HR solution, join the millions of
          users worldwide who use RewaHR products. Learn about our solutions and
          demo our products. Contact our friendly, professional services team
          with your questions. For high-quality HR support for the best HR
          software, look to RewaHR.
        </p>
        <br />
      </div>
      <footer class="footer_area footer_area_four f_bg undefined">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1000ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget company_widget wow fadeInLeft"
                  data-wow-delay="0.2s"
                >
                  <a href="index.html" class="f-logo"
                    ><img src="/images/media/logo2x.214c7508.png" alt=""
                  /></a>
                  <div class="widget-wrap">
                    <p class="f_400 f_p f_size_15 mb-0 l_height34">
                      <span style="color: rgb(255, 255, 255)">Email:</span>
                      <a
                        href="mailto:info@rewahr.com"
                        class="f_400"
                        style="color: rgb(255, 255, 255)"
                        >info@rewahr.com</a
                      >
                    </p>
                    <p class="f_400 f_p f_size_15 mb-0 l_height34">
                      <span style="color: rgb(255, 255, 255)">Phone:</span>
                      <a
                        href="tel:+1-510-790-7020"
                        class="f_400"
                        style="color: rgb(255, 255, 255)"
                        >+1-510-790-7020</a
                      >
                    </p>
                  </div>
                  <form action="#" class="f_subscribe mailchimp" method="post">
                    <input
                      type="text"
                      name="EMAIL"
                      class="form-control memail"
                      placeholder="Email"
                    /><button class="btn btn-submit" type="submit">
                      <i class="ti-arrow-right"></i>
                    </button>
                  </form>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1200ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    About Us
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="/">Company</a></li>
                    <li><a href="/">Jobs</a></li>
                    <li><a href="/">Sitemap</a></li>
                  </ul>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1400ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    Features
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li>
                      <a href="personalinformation">Persoanl Management</a>
                    </li>
                    <li><a href="leavemanagement">Leave Management</a></li>
                    <li><a href="timeattendence">Time Management</a></li>
                    <li>
                      <a href="systemadministration">System Administartion </a>
                    </li>
                    <li><a href="recruitment">Recruitment</a></li>
                    <li><a href="requestdesk">Request Desk</a></li>
                  </ul>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1800ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    Security Policy
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="/">Privacy Policy</a></li>
                    <li><a href="/">Service Privacy Policy</a></li>
                    <li><a href="/">Business Policy</a></li>
                    <li><a href="/">General Public License</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-6">
                <p class="mb-0 f_400">© Rewa HR.. 2020 All rights reserved.</p>
              </div>
              <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="f_social_icon_two text-center">
                  <a href="/"><i class="ti-facebook"></i></a
                  ><a href="/"><i class="ti-twitter-alt"></i></a
                  ><a href="/"><i class="ti-linkedin"></i></a
                  ><a href="/"><i class="ti-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
