<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="body_wrapper">
        <div class="sticky-outer-wrapper navbar_fixed" style="height: 0px">
            <div
              class="sticky-inner-wrapper"
              style="
                position: fixed;
                z-index: 9999;
                transform: translate3d(0px, 0px, 0px);
                top: 0px;
                width: 100%;
              "
            >
              <header class="header_area">
                <nav class="navbar navbar-expand-lg menu_one undefined">
                  <div class="container undefined">
                    <a class="navbar-brand undefined" href="/HR-Management"
                      ><img src="/images/media/logo2.9566d751.png" alt="" /><img
                        src="/images/media/logo2x.214c7508.png"
                        alt="logo" /></a
                    ><button
                      class="navbar-toggler collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="menu_toggle"
                        ><span class="hamburger"
                          ><span></span><span></span><span></span></span
                        ><span class="hamburger-cross"
                          ><span></span><span></span></span
                      ></span>
                    </button>
                    <div
                      class="collapse navbar-collapse"
                      id="navbarSupportedContent"
                    >
                      <ul class="navbar-nav menu ml-auto undefined">
                        <li class="nav-item">
                          <a class="nav-link" title="Home" href="/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link active"
                            title="Features"
                            href="features.html"
                            >Features</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" title="About" href="about.html"
                            >About</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" title="Pricing" href="contact.html"
                            >Contact</a
                          >
                        </li>
                      </ul>
                      <a class="btn_get btn_hover new_btn" href="signUp.html"
                        >Get Started</a
                      >
                    </div>
                  </div>
                </nav>
              </header>
            </div>
          </div>
      <section class="error_two_area"></section>
      <div class="jumbotron">
        <center>
          <h2 style="color: rgb(255, 255, 255)">Employment Compliance</h2>
          <p style="color: rgb(255, 255, 255)">
            Publish policies and compliance documents with ease, and track
            acceptance.
          </p>
        </center>
      </div>
      <div class="container">
        <p>
          Rewa HR allows you to publish news and documents to share with
          employees. Now you can make your policies and procedures easily
          accessible to all employees and get their acknowledgment upon reading
          news items helping your employees stay relevant with regulatory
          requirements and other necessary information.
        </p>
        <br />
      </div>
      <div
        style="
          box-sizing: border-box;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          padding-left: 15px;
          padding-right: 15px;
          max-width: 1540px;
        "
      >
        <div
          style="
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-flow: wrap;
            flex-grow: 0;
            flex-shrink: 0;
            align-items: normal;
            justify-content: flex-start;
          "
        >
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <h4>Publish News</h4>
            <p>
              Enables you to publish news articles and share information with
              all employees, or with specific employee groups.
            </p>
            <li>Customizable user friendly news template design.</li>
            <li>Create, edit, filter news based on your requirement</li>
            <li>
              News can be configured based on different employee criteria.
            </li>
            <li>Create news and set a future date to publish.</li>
            <li>
              Feature to request acknowledgement for each news and view
              acknowledgement status for each news.
            </li>
          </div>
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <img src="/images/media/chat_01.b4c99071.png" alt="" />
          </div>
        </div>
        <br /><br />
        <div
          style="
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-flow: wrap;
            flex-grow: 0;
            flex-shrink: 0;
            align-items: normal;
            justify-content: flex-start;
          "
        >
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <img src="/images/media/chat_01.b4c99071.png" alt="" />
          </div>
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <h4>Publish Documents</h4>
            <p>
              Allows you to publish document articles providing access to all or
              authorized employees in the company.
            </p>
            <li>Customizable user friendly document template design.</li>
            <li>
              Documents can be configured based on with different employee
              criterias.
            </li>
          </div>
        </div>
        <span style="display: table; clear: both"></span>
      </div>
      <footer class="footer_area footer_area_four f_bg undefined">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1000ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget company_widget wow fadeInLeft"
                  data-wow-delay="0.2s"
                >
                  <a href="index.html" class="f-logo"
                    ><img src="/images/media/logo2x.214c7508.png" alt=""
                  /></a>
                  <div class="widget-wrap">
                    <p class="f_400 f_p f_size_15 mb-0 l_height34">
                      <span style="color: rgb(255, 255, 255)">Email:</span>
                      <a
                        href="mailto:info@rewahr.com"
                        class="f_400"
                        style="color: rgb(255, 255, 255)"
                        >info@rewahr.com</a
                      >
                    </p>
                    <p class="f_400 f_p f_size_15 mb-0 l_height34">
                      <span style="color: rgb(255, 255, 255)">Phone:</span>
                      <a
                        href="tel:+1-510-790-7020"
                        class="f_400"
                        style="color: rgb(255, 255, 255)"
                        >+1-510-790-7020</a
                      >
                    </p>
                  </div>
                  <form action="#" class="f_subscribe mailchimp" method="post">
                    <input
                      type="text"
                      name="EMAIL"
                      class="form-control memail"
                      placeholder="Email"
                    /><button class="btn btn-submit" type="submit">
                      <i class="ti-arrow-right"></i>
                    </button>
                  </form>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1200ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    About Us
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="/index.html">Company</a></li>
                    <li><a href="/index.html">Jobs</a></li>
                    <li><a href="/index.html">Sitemap</a></li>
                  </ul>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1400ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    Features
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li>
                      <a href="perimp.html">Persoanl Management</a>
                    </li>
                    <li><a href="leave.html">Leave Management</a></li>
                    <li><a href="timesheet.html">Time Management</a></li>
                    <li>
                      <a href="systemaadmin.html">System Administartion </a>
                    </li>
                    <li><a href="recruitment.html">Recruitment</a></li>
                    <li><a href="requestdesk.html">Request Desk</a></li>
                  </ul>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1800ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    Security Policy
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="/index.html">Privacy Policy</a></li>
                    <li><a href="/index.html">Service Privacy Policy</a></li>
                    <li><a href="/index.html">Business Policy</a></li>
                    <li><a href="/index.html">General Public License</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-6">
                <p class="mb-0 f_400">© Rewa HR.. 2020 All rights reserved.</p>
              </div>
              <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="f_social_icon_two text-center">
                  <a href="/"><i class="ti-facebook"></i></a
                  ><a href="/"><i class="ti-twitter-alt"></i></a
                  ><a href="/"><i class="ti-linkedin"></i></a
                  ><a href="/"><i class="ti-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
