<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="body_wrapper">
        <div class="sticky-outer-wrapper navbar_fixed" style="height: 0px">
            <div
              class="sticky-inner-wrapper"
              style="
                position: fixed;
                z-index: 9999;
                transform: translate3d(0px, 0px, 0px);
                top: 0px;
                width: 100%;
              "
            >
              <header class="header_area">
                <nav class="navbar navbar-expand-lg menu_one undefined">
                  <div class="container undefined">
                    <a class="navbar-brand undefined" href="/HR-Management"
                      ><img src="/images/media/logo2.9566d751.png" alt="" /><img
                        src="/images/media/logo2x.214c7508.png"
                        alt="logo" /></a
                    ><button
                      class="navbar-toggler collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="menu_toggle"
                        ><span class="hamburger"
                          ><span></span><span></span><span></span></span
                        ><span class="hamburger-cross"
                          ><span></span><span></span></span
                      ></span>
                    </button>
                    <div
                      class="collapse navbar-collapse"
                      id="navbarSupportedContent"
                    >
                      <ul class="navbar-nav menu ml-auto undefined">
                        <li class="nav-item">
                          <a class="nav-link" title="Home" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link active"
                            title="Features"
                            href="features.html"
                            >Features</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" title="About" href="about.html"
                            >About</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" title="Pricing" href="contact.html"
                            >Contact</a
                          >
                        </li>
                      </ul>
                      <a class="btn_get btn_hover new_btn" href="signUp.html"
                        >Get Started</a
                      >
                    </div>
                  </div>
                </nav>
              </header>
            </div>
          </div>
      <section class="error_two_area"></section>
      <div class="jumbotron">
        <center>
          <h2 style="color: rgb(255, 255, 255)">Our Features</h2>
          <p style="color: rgb(255, 255, 255)">
            Rewa HR has an array of modules that cater to all your HR needs
            throughout the employee life cycle.
          </p>
        </center>
      </div>
      <section class="prototype_service_info">
        <div class="symbols-pulse active">
          <div class="pulse-1"></div>
          <div class="pulse-2"></div>
          <div class="pulse-3"></div>
          <div class="pulse-4"></div>
          <div class="pulse-x"></div>
        </div>
        <div class="container">
          <h2 class="f_size_30 f_600 t_color3 l_height0 text-center mb_0">
            Modular Solutions For All: From The Small Startup to the Global
            Enterprise.
          </h2>
          <br />
          <p>
            With our unique HR management software, you pick exactly what you
            need and leave behind anything you don't. Our individual modules are
            designed to solve your biggest HR problem - or all of your problems.
            Start with what you need now and add as you go..
          </p>
          <br /><br />
          <div class="row p_service_info">
            <div class="col-lg-4 col-sm-6">
              <div class="react-reveal p_service_item pr_70" style="opacity: 1">
                <div
                  class="icon icon_one"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1000ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  <i class="ti-panel"></i>
                </div>
                <h5
                  class="f_600 f_p t_color3"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1189ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Personal Information Management
                </h5>
                <p
                  class="f_400"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1414ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Simplify your HR data, centralizing all your employee data, no
                  matter where your located in the world.
                </p>
                <a
                  href="perimp.html"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1682ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                  >Read More</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div
                class="react-reveal p_service_item pl_50 pr_20"
                style="opacity: 1"
              >
                <div
                  class="icon icon_two"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1000ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  <i class="ti-layout-grid2"></i>
                </div>
                <h5
                  class="f_600 f_p t_color3"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1189ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Leave/ Time Off Management
                </h5>
                <p
                  class="f_400"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1414ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Create and manage multiple types of leave across your
                  organization.
                </p>
                <a
                  href="leave.html"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1682ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                  >Read More</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="react-reveal p_service_item pl_70" style="opacity: 1">
                <div
                  class="icon icon_three"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1000ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  <i class="ti-time"></i>
                </div>
                <h5
                  class="f_600 f_p t_color3"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1189ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Time Attendence Management
                </h5>
                <p
                  class="f_400"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1414ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Track the time utilization, pay rules overtime for projects
                  and employees’ work efficiency through our flexible time
                  module..
                </p>
                <a
                  href="timesheet.html"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1682ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                  >Read More</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="react-reveal p_service_item pr_70" style="opacity: 1">
                <div
                  class="icon icon_four"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1000ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  <i class="ti-desktop"></i>
                </div>
                <h5
                  class="f_600 f_p t_color3"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1189ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  System Administartion &amp; User Roles
                </h5>
                <p
                  class="f_400"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1414ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Control workflows, authorized users and carry out all
                  administration and function with ease.
                </p>
                <a
                  href="systemaadmin.html"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1682ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                  >Read More</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div
                class="react-reveal p_service_item pl_50 pr_20"
                style="opacity: 1"
              >
                <div
                  class="icon icon_five"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1000ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  <i class="ti-cloud-down"></i>
                </div>
                <h5
                  class="f_600 f_p t_color3"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1189ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Recruitment
                </h5>
                <p
                  class="f_400"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1414ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Streamline the hiring cycle with our recruitment and
                  onboarding module.
                </p>
                <a
                  href="recruitment.html"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1682ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                  >Read More</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="react-reveal p_service_item pl_70" style="opacity: 1">
                <div
                  class="icon icon_six"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1000ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  <i class="ti-bolt"></i>
                </div>
                <h5
                  class="f_600 f_p t_color3"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1189ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Request Desk
                </h5>
                <p
                  class="f_400"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1414ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Quantify, measure and assign your requests on the go with
                  RewaHR Request Desk Solution.
                </p>
                <a
                  href="requestdesk.html"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1682ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                  >Read More</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="react-reveal p_service_item pr_70" style="opacity: 1">
                <div
                  class="icon icon_one"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1000ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  <i class="ti-rocket"></i>
                </div>
                <h5
                  class="f_600 f_p t_color3"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1189ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Travel Expense Tracker
                </h5>
                <p
                  class="f_400"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1414ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Keep a close eye on your expenses, while sufficiently
                  allocating funds to needs.
                </p>
                <a
                  href="travelAndExpense.html"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1682ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                  >Read More</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div
                class="react-reveal p_service_item pl_50 pr_20"
                style="opacity: 1"
              >
                <div
                  class="icon icon_two"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1000ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  <i class="ti-user"></i>
                </div>
                <h5
                  class="f_600 f_p t_color3"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1189ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Employment Compliance
                </h5>
                <p
                  class="f_400"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1414ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Publish policies and compliance documents with ease, and track
                  acceptance.
                </p>
                <a
                  href="empcompliance.html"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1682ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                  >Read More</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="react-reveal p_service_item pl_70" style="opacity: 1">
                <div
                  class="icon icon_three"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1000ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  <i class="ti-bolt"></i>
                </div>
                <h5
                  class="f_600 f_p t_color3"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1189ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Performance
                </h5>
                <p
                  class="f_400"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1414ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                >
                  Continuous tracking of employees performance with advanced
                  metrics such as OKRs to dynamic objectives..
                </p>
                <a
                  href="performance.html"
                  style="
                    animation-fill-mode: both;
                    animation-duration: 1682ms;
                    animation-delay: 0ms;
                    animation-iteration-count: 1;
                    opacity: 1;
                    animation-name: react-reveal-278074786461175-1;
                  "
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer_area footer_area_four f_bg undefined">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1000ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget company_widget wow fadeInLeft"
                  data-wow-delay="0.2s"
                >
                  <a href="index.html" class="f-logo"
                    ><img src="/images/media/logo2x.214c7508.png" alt=""
                  /></a>
                  <div class="widget-wrap">
                    <p class="f_400 f_p f_size_15 mb-0 l_height34">
                      <span style="color: rgb(255, 255, 255)">Email:</span>
                      <a
                        href="mailto:info@rewahr.com"
                        class="f_400"
                        style="color: rgb(255, 255, 255)"
                        >info@rewahr.com</a
                      >
                    </p>
                    <p class="f_400 f_p f_size_15 mb-0 l_height34">
                      <span style="color: rgb(255, 255, 255)">Phone:</span>
                      <a
                        href="tel:+1-510-790-7020"
                        class="f_400"
                        style="color: rgb(255, 255, 255)"
                        >+1-510-790-7020</a
                      >
                    </p>
                  </div>
                  <form action="#" class="f_subscribe mailchimp" method="post">
                    <input
                      type="text"
                      name="EMAIL"
                      class="form-control memail"
                      placeholder="Email"
                    /><button class="btn btn-submit" type="submit">
                      <i class="ti-arrow-right"></i>
                    </button>
                  </form>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1200ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    About Us
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="index.html">Company</a></li>
                    <li><a href="index.html">Jobs</a></li>
                    <li><a href="index.html">Sitemap</a></li>
                  </ul>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1400ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    Features
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li>
                      <a href="performance.html">Persoanl Management</a>
                    </li>
                    <li><a href="leave.html">Leave Management</a></li>
                    <li><a href="timesheet.html">Time Management</a></li>
                    <li>
                      <a href="systemaadmin.html">System Administartion </a>
                    </li>
                    <li><a href="recruitment.html">Recruitment</a></li>
                    <li><a href="requestdesk.html">Request Desk</a></li>
                  </ul>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1800ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    Security Policy
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="index.html">Privacy Policy</a></li>
                    <li><a href="index.html">Service Privacy Policy</a></li>
                    <li><a href="index.html">Business Policy</a></li>
                    <li><a href="index.html">General Public License</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-6">
                <p class="mb-0 f_400">© Rewa HR.. 2020 All rights reserved.</p>
              </div>
              <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="f_social_icon_two text-center">
                  <a href="/"><i class="ti-facebook"></i></a
                  ><a href="/"><i class="ti-twitter-alt"></i></a
                  ><a href="/"><i class="ti-linkedin"></i></a
                  ><a href="/"><i class="ti-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
