<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="logo192.png" />
    <link rel="styleSheet" href="/css/style.css" />
    <title>Rewa HR Software | HR Management Software</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="body_wrapper">
        <div class="sticky-outer-wrapper">
          <div id = "stickyDiv"
            class="sticky-inner-wrapper"
            style="
              position: relative;
              z-index: 9999;
              transform: translate3d(0px, 0px, 0px);
            "
          >
            <header id="header" class="header_area">
              <nav class="navbar navbar-expand-lg menu_one menu_four">
                <div class="container undefined">
                  <a class="navbar-brand undefined" href="/HR-Management">
                    <img src="/images/media/logo2.9566d751.png" alt="" />
                    <img
                      src="/images/media/logo2x.214c7508.png"
                      alt="logo"
                    /> </a
                  ><button
                    class="navbar-toggler collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="menu_toggle"
                      ><span class="hamburger">
                        <span></span><span></span><span></span
                      ></span>
                      <span class="hamburger-cross"
                        ><span></span><span></span></span
                    ></span>
                  </button>
                  <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                  >
                    <ul class="navbar-nav menu ml-auto w_menu">
                      <li class="nav-item">
                        <a id = "home" class="nav-link active" title="Home" href="index.html"
                          >Home</a
                        >
                      </li>
                      <li class="nav-item">
                        <a id = "features" class="nav-link" title="Features" href="features.html"
                          >Features</a
                        >
                      </li>
                      <li class="nav-item">
                        <a id = "about" class="nav-link" title="About" href="about.html"
                          >About</a
                        >
                      </li>
                      <li class="nav-item">
                        <a id = "contact"class="nav-link" title="Pricing" href="contact.html"
                          >Contact</a
                        >
                      </li>
                    </ul>
                    <a id = "getstarted"class="btn_get btn_hover undefined" href="signUp.html"
                      >Get Started</a
                    >
                  </div>
                </div>
              </nav>
            </header>
          </div>
        </div>
        <section class="startup_banner_area_three">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div
                  class="react-reveal startup_content_three"
                  style="opacity: 1"
                >
                  <h2
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1000ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    <span>Do The Work You Love</span> HR Management Software
                  </h2>
                  <p
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1189ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    That Brings Your Employees Together.
                  </p>
                  <a
                    href="signUp.html"
                    class="btn_six slider_btn"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1414ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                    >Get Started</a
                  >
                  <a
                    href="#"
                    class="popup-youtube btn_six slider_btn"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1682ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                    ><i class="fa fa-play-circle"></i>Watch Video</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="stratup_app_screen">
            <img
              class="react-reveal slideInnew phone"
              src="/images/media/0222.e2030347.png"
              alt=""
              style="
                animation-duration: 1000ms;
                animation-delay: 0ms;
                animation-iteration-count: 1;
                opacity: 1;
              "
            /><img
              class="react-reveal slideInnew laptop"
              src="/images/media/0111.4c996034.png"
              alt=""
              style="
                animation-duration: 1000ms;
                animation-delay: 0ms;
                animation-iteration-count: 1;
                opacity: 1;
              "
            />
          </div>
        </section>
        <section class="prototype_service_info">
          <div class="symbols-pulse active">
            <div class="pulse-1"></div>
            <div class="pulse-2"></div>
            <div class="pulse-3"></div>
            <div class="pulse-4"></div>
            <div class="pulse-x"></div>
          </div>
          <div class="container">
            <h2 class="f_size_30 f_600 t_color3 l_height0 text-center mb_0">
              Modular Solutions For All: From The Small Startup to the Global
              Enterprise.
            </h2>
            <br />
            <p>
              With our unique HR management software, you pick exactly what you
              need and leave behind anything you don't. Our individual modules
              are designed to solve your biggest HR problem - or all of your
              problems. Start with what you need now and add as you go..
            </p>
            <br /><br />
            <div class="row p_service_info">
              <div class="col-lg-4 col-sm-6">
                <div
                  class="react-reveal p_service_item pr_70"
                  style="opacity: 1"
                >
                  <div
                    class="icon icon_one"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1000ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    <i class="ti-panel"></i>
                  </div>
                  <h5
                    class="f_600 f_p t_color3"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1189ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Personal Information Management
                  </h5>
                  <p
                    class="f_400"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1414ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Simplify your HR data, centralizing all your employee data,
                    no matter where your located in the world.
                  </p>
                  <a
                    href="perimp.html"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1682ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                    >Read More</a
                  >
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div
                  class="react-reveal p_service_item pl_50 pr_20"
                  style="opacity: 1"
                >
                  <div
                    class="icon icon_two"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1000ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    <i class="ti-layout-grid2"></i>
                  </div>
                  <h5
                    class="f_600 f_p t_color3"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1189ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Leave/ Time Off Management
                  </h5>
                  <p
                    class="f_400"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1414ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Create and manage multiple types of leave across your
                    organization.
                  </p>
                  <a
                    href="leave.html"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1682ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                    >Read More</a
                  >
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div
                  class="react-reveal p_service_item pl_70"
                  style="opacity: 1"
                >
                  <div
                    class="icon icon_three"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1000ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    <i class="ti-time"></i>
                  </div>
                  <h5
                    class="f_600 f_p t_color3"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1189ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Time Attendence Management
                  </h5>
                  <p
                    class="f_400"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1414ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Track the time utilization, pay rules overtime for projects
                    and employees’ work efficiency through our flexible time
                    module..
                  </p>
                  <a
                    href="timesheet.html"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1682ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                    >Read More</a
                  >
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div
                  class="react-reveal p_service_item pr_70"
                  style="opacity: 1"
                >
                  <div
                    class="icon icon_four"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1000ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    <i class="ti-desktop"></i>
                  </div>
                  <h5
                    class="f_600 f_p t_color3"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1189ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    System Administartion &amp; User Roles
                  </h5>
                  <p
                    class="f_400"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1414ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Control workflows, authorized users and carry out all
                    administration and function with ease.
                  </p>
                  <a
                    href="systemaadmin.html"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1682ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                    >Read More</a
                  >
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div
                  class="react-reveal p_service_item pl_50 pr_20"
                  style="opacity: 1"
                >
                  <div
                    class="icon icon_five"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1000ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    <i class="ti-cloud-down"></i>
                  </div>
                  <h5
                    class="f_600 f_p t_color3"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1189ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Recruitment
                  </h5>
                  <p
                    class="f_400"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1414ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Streamline the hiring cycle with our recruitment and
                    onboarding module.
                  </p>
                  <a
                    href="recruitment.html"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1682ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                    >Read More</a
                  >
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div
                  class="react-reveal p_service_item pl_70"
                  style="opacity: 1"
                >
                  <div
                    class="icon icon_six"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1000ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    <i class="ti-bolt"></i>
                  </div>
                  <h5
                    class="f_600 f_p t_color3"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1189ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Request Desk
                  </h5>
                  <p
                    class="f_400"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1414ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Quantify, measure and assign your requests on the go with
                    RewaHR Request Desk Solution.
                  </p>
                  <a
                    href="requestdesk.html"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1682ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                    >Read More</a
                  >
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div
                  class="react-reveal p_service_item pr_70"
                  style="opacity: 1"
                >
                  <div
                    class="icon icon_one"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1000ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    <i class="ti-rocket"></i>
                  </div>
                  <h5
                    class="f_600 f_p t_color3"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1189ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Travel Expense Tracker
                  </h5>
                  <p
                    class="f_400"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1414ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Keep a close eye on your expenses, while sufficiently
                    allocating funds to needs.
                  </p>
                  <a
                    href="travelAndExpense.html"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1682ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                    >Read More</a
                  >
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div
                  class="react-reveal p_service_item pl_50 pr_20"
                  style="opacity: 1"
                >
                  <div
                    class="icon icon_two"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1000ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    <i class="ti-user"></i>
                  </div>
                  <h5
                    class="f_600 f_p t_color3"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1189ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Employment Compliance
                  </h5>
                  <p
                    class="f_400"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1414ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Publish policies and compliance documents with ease, and
                    track acceptance.
                  </p>
                  <a
                    href="empcompliance.html"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1682ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                    >Read More</a
                  >
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div
                  class="react-reveal p_service_item pl_70"
                  style="opacity: 1"
                >
                  <div
                    class="icon icon_three"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1000ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    <i class="ti-bolt"></i>
                  </div>
                  <h5
                    class="f_600 f_p t_color3"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1189ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Performance
                  </h5>
                  <p
                    class="f_400"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1414ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                  >
                    Continuous tracking of employees performance with advanced
                    metrics such as OKRs to dynamic objectives..
                  </p>
                  <a
                    href="performance.html"
                    style="
                      animation-fill-mode: both;
                      animation-duration: 1682ms;
                      animation-delay: 0ms;
                      animation-iteration-count: 1;
                      opacity: 1;
                      animation-name: react-reveal-683607204470030-1;
                    "
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="get_started_three sec_pad">
          <div class="container">
            <div class="sec_title text-center mb_70">
              <h2 class="f_p f_size_30 l_height45 f_600 t_color3">
                Help your customers <br />on every channel
              </h2>
            </div>
            <div class="startup_tab_img">
              <center
                class="react-reveal fadeInLeft"
                style="
                  animation-duration: 1000ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div class="web_img">
                  <img src="/images/media/web_image.c5ea6020.jpg" alt="" />
                </div>
              </center>
            </div>
            <h3>Other Modules Include</h3>
            <div class="row get_btn_info">
              <div class="col-md-6">
                <div class="get_btn_item">
                  <div class="get_icon"><i class="ti-time"></i></div>
                  <h3>Travel Expense Tracker</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="get_btn_item">
                  <div class="get_icon icon_two">
                    <i class="icon_cloud-upload_alt"></i>
                  </div>
                  <h3>Disciplinary Tracking</h3>
                </div>
              </div>
            </div>
            <div class="row get_btn_info">
              <div class="col-md-6">
                <div class="get_btn_item">
                  <div class="get_icon"><i class="ti-time"></i></div>
                  <h3>Document Manager</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="get_btn_item">
                  <div class="get_icon icon_two">
                    <i class="icon_cloud-upload_alt"></i>
                  </div>
                  <h3>Online Training</h3>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br />
        <section class="intregration_area bg_color sec_pad">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 d-flex align-items-center">
                <div class="intregration_content">
                  <h2>Fast and Simple Implementation</h2>
                  <h5>
                    HR teams love our software because it saves them time IT
                    teams love our software because it's easy for everyone to
                    use
                  </h5>
                  <p>
                    Unlike other HR management software, our expedited
                    implementation process gets your management system up and
                    running quickly, and our training consultants make sure all
                    of your employees are comfortable using it. The software
                    itself is designed to integrate seamlessly with any program
                    you currently have in place.
                  </p>
                  <center>
                    <h5>
                      Interested In What Rewa HR Can Do For You? Build Your
                      Custom HR Experience.
                    </h5>
                    <br /><a href="index.html" class="btn_six slider_btn"
                      >Request A Quote</a
                    >
                  </center>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="footer_area footer_area_four f_bg undefined">
          <div class="footer_top">
            <div class="container">
              <div class="row">
                <div class="react-reveal col-lg-3 col-md-6">
                  <div
                    class="f_widget company_widget wow fadeInLeft"
                    data-wow-delay="0.2s"
                  >
                    <a href="index.html" class="f-logo"
                      ><img src="/images/media/logo2x.214c7508.png" alt=""
                    /></a>
                    <div class="widget-wrap">
                      <p class="f_400 f_p f_size_15 mb-0 l_height34">
                        <span style="color: rgb(255, 255, 255)">Email:</span>
                        <a
                          href="mailto:info@rewahr.com"
                          class="f_400"
                          style="color: rgb(255, 255, 255)"
                          >info@rewahr.com</a
                        >
                      </p>
                      <p class="f_400 f_p f_size_15 mb-0 l_height34">
                        <span style="color: rgb(255, 255, 255)">Phone:</span>
                        <a
                          href="tel:+1-510-790-7020"
                          class="f_400"
                          style="color: rgb(255, 255, 255)"
                          >+1-510-790-7020</a
                        >
                      </p>
                    </div>
                    <form
                      action="#"
                      class="f_subscribe mailchimp"
                      method="post"
                    >
                      <input
                        type="text"
                        name="EMAIL"
                        class="form-control memail"
                        placeholder="Email"
                      /><button class="btn btn-submit" type="submit">
                        <i class="ti-arrow-right"></i>
                      </button>
                    </form>
                  </div>
                </div>
                <div class="react-reveal col-lg-3 col-md-6">
                  <div
                    class="f_widget about-widget pl_70 wow fadeInLeft"
                    data-wow-delay="0.4s"
                  >
                    <h3 class="f-title f_600 t_color f_size_18 mb_40">
                      About Us
                    </h3>
                    <ul class="list-unstyled f_list">
                      <li><a href="index.html">Company</a></li>
                      <li><a href="index.html">Jobs</a></li>
                      <li><a href="index.html">Sitemap</a></li>
                    </ul>
                  </div>
                </div>
                <div class="react-reveal col-lg-3 col-md-6">
                  <div
                    class="f_widget about-widget pl_70 wow fadeInLeft"
                    data-wow-delay="0.4s"
                  >
                    <h3 class="f-title f_600 t_color f_size_18 mb_40">
                      Features
                    </h3>
                    <ul class="list-unstyled f_list">
                      <li>
                        <a href="performance.html">Persoanl Management</a>
                      </li>
                      <li><a href="leave.html">Leave Management</a></li>
                      <li><a href="timesheet.html">Time Management</a></li>
                      <li>
                        <a href="systemaadmin.html">System Administartion </a>
                      </li>
                      <li><a href="recruitment.html">Recruitment</a></li>
                      <li><a href="requestdesk.html">Request Desk</a></li>
                    </ul>
                  </div>
                </div>
                <div class="react-reveal col-lg-3 col-md-6">
                  <div
                    class="f_widget about-widget pl_70 wow fadeInLeft"
                    data-wow-delay="0.4s"
                  >
                    <h3 class="f-title f_600 t_color f_size_18 mb_40">
                      Security Policy
                    </h3>
                    <ul class="list-unstyled f_list">
                      <li><a href="index.html">Privacy Policy</a></li>
                      <li><a href="index.html">Service Privacy Policy</a></li>
                      <li><a href="index.html">Business Policy</a></li>
                      <li><a href="index.html">General Public License</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer_bottom">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6">
                  <p class="mb-0 f_400">
                    © Rewa HR.. 2020 All rights reserved.
                  </p>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-6">
                  <div class="f_social_icon_two text-center">
                    <a href="/"><i class="ti-facebook"></i></a
                    ><a href="/"><i class="ti-twitter-alt"></i></a
                    ><a href="/"><i class="ti-linkedin"></i></a
                    ><a href="/"><i class="ti-youtube"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <div id="preloader" class="loader--hide">
      <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
          <div class="spinner"></div>
          <div class="txt-loading">
            <span data-text-preloader="R" class="letters-loading"> R </span>
            <span data-text-preloader="E" class="letters-loading"> E </span>
            <span data-text-preloader="W" class="letters-loading"> W </span>
            <span data-text-preloader="A" class="letters-loading"> A </span>
            <span data-text-preloader="H" class="letters-loading"> H </span>
            <span data-text-preloader="R" class="letters-loading"> R </span>
          </div>
          <p class="text-center">HR Management Software</p>
        </div>
      </div>
    </div>
  </body>
  <script>
    window.onscroll = function() {
      var stickyDiv = document.getElementById("stickyDiv");
      var stickyDivTop = stickyDiv.offsetTop;
      var header_area = document.getElementById("header");
      var home = document.getElementById("home");
      var features = document.getElementById("features");
      var about = document.getElementById("about");
      var contact = document.getElementById("contact");
      var getstarted = document.getElementById("getstarted");
      if (window.pageYOffset > stickyDivTop) {
        stickyDiv.style.position = "fixed";
        stickyDiv.style.top = "0";
        stickyDiv.style.width = "1903px";
        header_area.style.backgroundColor = "white";
        header_area.style.boxShadow = "0px 4px 6px 0px rgba(12, 0, 46, 0.06)";
        header_area.style.width = "100%";
        header_area.style.left = "0";
        header_area.style.top = "0";
        header_area.style.position = "fixed";
        home.style.color = "black";
        features.style.color = "black";
        about.style.color = "black";
        contact.style.color = "black";
        getstarted.style.color = "blue";
        getstarted.style.borderColor = "orange";
      } else {
        stickyDiv.style.position = "relative";
        stickyDiv.style.top = "auto";
        header_area.style.backgroundColor = "transparent";
        header_area.style.boxShadow = "none";
        header_area.style.width = "100%";
        header_area.style.left = "0";
        header_area.style.top = "0";
        home.style.color = "white";
        features.style.color = "white";
        about.style.color = "white";
        contact.style.color = "white";
        getstarted.style.color = "blue";
        getstarted.style.borderColor = "white";
      }
    };
  </script>
</html>
