<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="/css/style.css"
  </head>
  <body>
    <div class="body_wrapper">
        <div class="sticky-outer-wrapper navbar_fixed" style="height: 0px">
            <div
              class="sticky-inner-wrapper"
              style="
                position: fixed;
                z-index: 9999;
                transform: translate3d(0px, 0px, 0px);
                top: 0px;
                width: 100%;
              "
            >
              <header class="header_area">
                <nav class="navbar navbar-expand-lg menu_one undefined">
                  <div class="container undefined">
                    <a class="navbar-brand undefined" href="/HR-Management"
                      ><img src="/images/media/logo2.9566d751.png" alt="" /><img
                        src="/images/media/logo2x.214c7508.png"
                        alt="logo" /></a
                    ><button
                      class="navbar-toggler collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="menu_toggle"
                        ><span class="hamburger"
                          ><span></span><span></span><span></span></span
                        ><span class="hamburger-cross"
                          ><span></span><span></span></span
                      ></span>
                    </button>
                    <div
                      class="collapse navbar-collapse"
                      id="navbarSupportedContent"
                    >
                      <ul class="navbar-nav menu ml-auto undefined">
                        <li class="nav-item">
                          <a class="nav-link" title="Home" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link active"
                            title="Features"
                            href="features.html"
                            >Features</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" title="About" href="about.html"
                            >About</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" title="Pricing" href="contact.html"
                            >Contact</a
                          >
                        </li>
                      </ul>
                      <a class="btn_get btn_hover new_btn" href="signUp.html"
                        >Get Started</a
                      >
                    </div>
                  </div>
                </nav>
              </header>
            </div>
          </div>
      <section class="error_two_area"></section>
      <div class="jumbotron">
        <center>
          <h2 style="color: rgb(255, 255, 255)">Leave/Time Off Management</h2>
          <p style="color: rgb(255, 255, 255)">
            Create and manage multiple types of leave across your organization.
          </p>
        </center>
      </div>
      <div class="container">
        <p>
          The ability to manage leave and create multiple leave types depending
          on company or state policies is essential, especially if your
          organization is located across a number of countries.
        </p>
        <p>
          With our Global Leave Management System, you can create multiple leave
          types such as Vacation, Sick, FMLA, Maternity, Family Care Leave,
          Child Care Leave quickly and easily. You can configure rules
          regulating these leave types with company and state polices – ensuring
          you are always compliant
        </p>
        <p>
          You can also setup accruals and carryforwards to run at configurable
          intervals and accumulate leave based on employment status, job titles,
          service period, gender and job category.
        </p>
        <br />
        <h4>Working weekend and Static work week</h4>
        <p>
          We understand that every organization is different, and working weeks
          or days can differ depending on location or industry. Rewa HR makes
          leave management easy for you with our Global Leave Management System.
          You can define working and non-working days for each employee or for a
          specific location. This is ideal especially when working with
          geographically dispersed teams.
        </p>
        <br />
        <h4>The Bradford Factor</h4>
        <p>
          Organizations can struggle to manage absenteeism, especially within a
          geographically dispersed team. The Bradford Factor does the hard work
          for you.
        </p>
        <p>
          The Bradford Factor is designed to track the number of instances of
          sickness over a 12 month period, and patterns on a month by month
          basis for each employee. For example: if an employee tends to call in
          sick every Friday of each month.
        </p>
        <p>
          Organizations can define their own thresholds, making it not only an
          easy way to manage absence but a flexible tool as well. Managers are
          alerted through email notifications when theresholds are met, without
          the need to search high and low for valuable information. This way of
          managing absences can help organizations save money and ensure an
          efficient and strong workforce throughout the year.
        </p>
      </div>
      <div
        style="
          box-sizing: border-box;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          padding-left: 15px;
          padding-right: 15px;
          max-width: 1540px;
        "
      >
        <div
          style="
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-flow: wrap;
            flex-grow: 0;
            flex-shrink: 0;
            align-items: normal;
            justify-content: flex-start;
          "
        >
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 41.6667%;
              flex: 0 0 41.6667%;
              max-width: 41.6667%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <h4>Leave Accrual and Carry Forward</h4>
            <p>
              With Rewa HR you can set up leave entitlements to automatically
              accrue for different employee groups. Additionally you can
              determine what should happen if there is a balance at the end of
              the year. Should it be carried forward? Should it have an
              expiration date? Your leave policies are all configured in Rewa HR
              so that you don't have to track them manually - saving you time
              and avoiding any human errors.
            </p>
          </div>
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 58.3333%;
              flex: 0 0 58.3333%;
              max-width: 58.3333%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <img src="/images/media/leave1.64fad4b7.png" alt="" />
          </div>
        </div>
        <br /><br />
        <div
          style="
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-flow: wrap;
            flex-grow: 0;
            flex-shrink: 0;
            align-items: normal;
            justify-content: flex-start;
          "
        >
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 100%;
              flex: 0 0 100%;
              max-width: 100%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <img src="/images/media/leave2.6ccaf989.png" alt="" />
          </div>
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 100%;
              flex: 0 0 100%;
              max-width: 100%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <h4>Leave Calendar</h4>
            <p>
              The Leave Calendar gives all employees visibility into who is in
              or out of the office throughout the month or year. This allows the
              employees to plan their own time away - and the supervisors to
              manage and approve leave requests. Leave calendar can be
              configured to show the leave requests of your department only,
              your location only or the whole company.
            </p>
          </div>
        </div>
        <br /><br />
        <div
          style="
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-flow: wrap;
            flex-grow: 0;
            flex-shrink: 0;
            align-items: normal;
            justify-content: flex-start;
          "
        >
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <h4>Leave Nominee</h4>
            <p>
              How do you manage resource when employees go on leave? Is there a
              way of ensuring productivity remains high, regardless of when
              employees go on leave, or during a busy vacation period? Now
              there’s an easier way to ensure your organization remains on top
              of deliverables and can help managers to resource amongst teams.
              Rewa HR offers the possibility of nominating employees who will
              handle the workloads during an employee’s absence. Employees can
              suggest alternative colleagues be their resource during the leave
              period. Managers will be alerted through notifications when leave
              is requested and can view and approve the nominee.
            </p>
          </div>
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <img
              src="/images/media/leave3.png"
              alt=""
            />
          </div>
        </div>
        <span style="display: table; clear: both"></span>
      </div>
      <footer class="footer_area footer_area_four f_bg undefined">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1000ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget company_widget wow fadeInLeft"
                  data-wow-delay="0.2s"
                >
                  <a href="index.html" class="f-logo"
                    ><img src="/images/media/logo2x.214c7508.png" alt=""
                  /></a>
                  <div class="widget-wrap">
                    <p class="f_400 f_p f_size_15 mb-0 l_height34">
                      <span style="color: rgb(255, 255, 255)">Email:</span>
                      <a
                        href="mailto:info@rewahr.com"
                        class="f_400"
                        style="color: rgb(255, 255, 255)"
                        >info@rewahr.com</a
                      >
                    </p>
                    <p class="f_400 f_p f_size_15 mb-0 l_height34">
                      <span style="color: rgb(255, 255, 255)">Phone:</span>
                      <a
                        href="tel:+1-510-790-7020"
                        class="f_400"
                        style="color: rgb(255, 255, 255)"
                        >+1-510-790-7020</a
                      >
                    </p>
                  </div>
                  <form action="#" class="f_subscribe mailchimp" method="post">
                    <input
                      type="text"
                      name="EMAIL"
                      class="form-control memail"
                      placeholder="Email"
                    /><button class="btn btn-submit" type="submit">
                      <i class="ti-arrow-right"></i>
                    </button>
                  </form>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1200ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    About Us
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="index.html">Company</a></li>
                    <li><a href="index.html">Jobs</a></li>
                    <li><a href="index.html">Sitemap</a></li>
                  </ul>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1400ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    Features
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li>
                      <a href="perimp.html">Persoanl Management</a>
                    </li>
                    <li><a href="leave.html">Leave Management</a></li>
                    <li><a href="timesheet.html">Time Management</a></li>
                    <li>
                      <a href="systemaadmin.html">System Administartion </a>
                    </li>
                    <li><a href="recruitment.html">Recruitment</a></li>
                    <li><a href="requestdesk.html">Request Desk</a></li>
                  </ul>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1800ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    Security Policy
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="index.html">Privacy Policy</a></li>
                    <li><a href="index.html">Service Privacy Policy</a></li>
                    <li><a href="index.html">Business Policy</a></li>
                    <li><a href="index.html">General Public License</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-6">
                <p class="mb-0 f_400">© Rewa HR.. 2020 All rights reserved.</p>
              </div>
              <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="f_social_icon_two text-center">
                  <a href="/"><i class="ti-facebook"></i></a
                  ><a href="/"><i class="ti-twitter-alt"></i></a
                  ><a href="/"><i class="ti-linkedin"></i></a
                  ><a href="/"><i class="ti-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
