<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="body_wrapper">
      <div class="sticky-outer-wrapper navbar_fixed" style="height: 0px">
        <div
          class="sticky-inner-wrapper"
          style="
            position: fixed;
            z-index: 9999;
            transform: translate3d(0px, 0px, 0px);
            top: 0px;
            width: 100%;
          "
        >
          <header class="header_area">
            <nav class="navbar navbar-expand-lg menu_one undefined">
              <div class="container undefined">
                <a class="navbar-brand undefined" href="/HR-Management"
                  ><img src="/images/media/logo2.9566d751.png" alt="" /><img
                    src="/images/media/logo2x.214c7508.png"
                    alt="logo" /></a
                ><button
                  class="navbar-toggler collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="menu_toggle"
                    ><span class="hamburger"
                      ><span></span><span></span><span></span></span
                    ><span class="hamburger-cross"
                      ><span></span><span></span></span
                  ></span>
                </button>
                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav menu ml-auto undefined">
                    <li class="nav-item">
                      <a class="nav-link" title="Home" href="/index.html"
                        >Home</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        title="Features"
                        href="features.html"
                        >Features</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" title="About" href="about.html"
                        >About</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" title="Pricing" href="contact.html"
                        >Contact</a
                      >
                    </li>
                  </ul>
                  <a class="btn_get btn_hover new_btn" href="signUp.html"
                    >Get Started</a
                  >
                </div>
              </div>
            </nav>
          </header>
        </div>
      </div>
      <section class="error_two_area"></section>
      <div class="jumbotron">
        <center>
          <h2 style="color: rgb(255, 255, 255)">
            Personal Information Management
          </h2>
          <p style="color: rgb(255, 255, 255)">
            Simplify your HR data, centralizing all your employee data, no
            matter where you're located in the world.
          </p>
        </center>
      </div>
      <div class="container">
        <p>
          Simplify and streamline your HR data with Rewa HR’s Personal
          Information Management (PIM) module, helping you centralize all your
          employee data, no matter where you’re located in the world. No need to
          trawl through spreadsheets, or piles of paperwork, you can enjoy fast
          and efficient access at your fingertips, through selection and filter
          criteria you can customize depending on your organization.
        </p>
        <p>
          Powerful reporting tools create both dynamic and pre-defined reports
          such as EEO, HeadCount, Termination Turnover and Job &amp; Salary.
        </p>
      </div>
      <br />
      <div
        style="
          box-sizing: border-box;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          padding-left: 15px;
          padding-right: 15px;
          max-width: 1540px;
        "
      >
        <div
          style="
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-flow: wrap;
            flex-grow: 0;
            flex-shrink: 0;
            align-items: normal;
            justify-content: flex-start;
          "
        >
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <h4>Custom Fields</h4>
            <p>
              If the system does not have the data fields you are looking for,
              you can create your own data fields through the custom fields tab.
              You can have unlimited number of custom data fields. These data
              fields can be drop downs, Text fields, Numbers, Date fields,
              attachments and many more. Access rights ( who can see the data)
              can be granted by location to the custom fields.
            </p>
          </div>
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <img
              src="/images/media/custom field.png"
              alt=""
            />
          </div>
        </div>
        <br /><br />
        <div
          style="
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-flow: wrap;
            flex-grow: 0;
            flex-shrink: 0;
            align-items: normal;
            justify-content: flex-start;
          "
        >
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <img
              src="/images/media/add employee.png"
              alt=""
            />
          </div>
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <h4>Add-Employee-Wizard</h4>
            <p>
              Add Employee Wizard eases the employee creation in the system, by
              directing the HR Admin only to the relevant and mandatory fields
              required. The HR admin can configure the system to enable the
              wizard. Wizard can be configured for set of predefined fields to
              be visible. HR Admin can also set the compulsory fields from the
              visible fields. System will navigate the user through step by step
            </p>
          </div>
        </div>
        <br /><br />
        <div
          style="
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-flow: wrap;
            flex-grow: 0;
            flex-shrink: 0;
            align-items: normal;
            justify-content: flex-start;
          "
        >
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <h4>Bulk Update</h4>
            <p>
              This feature allows updating employee details such as work shift,
              location, job title, subunit, joined date and to add/remove direct
              supervisors. If a supervisor with many subordinates is replaced by
              another supervisor, you can use bulk update feature to add all the
              subordinates to the new supervisor all at once.
            </p>
          </div>
          <div
            style="
              box-sizing: border-box;
              min-height: 1px;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              margin-left: 0%;
              right: auto;
              left: auto;
            "
          >
            <img src="/images/media/chat_01.b4c99071.png" alt="" />
          </div>
        </div>
        <span style="display: table; clear: both"></span>
      </div>
      <footer class="footer_area footer_area_four f_bg undefined">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1000ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget company_widget wow fadeInLeft"
                  data-wow-delay="0.2s"
                >
                  <a href="index.html" class="f-logo"
                    ><img src="/images/media/logo2x.214c7508.png" alt=""
                  /></a>
                  <div class="widget-wrap">
                    <p class="f_400 f_p f_size_15 mb-0 l_height34">
                      <span style="color: rgb(255, 255, 255)">Email:</span>
                      <a
                        href="mailto:info@rewahr.com"
                        class="f_400"
                        style="color: rgb(255, 255, 255)"
                        >info@rewahr.com</a
                      >
                    </p>
                    <p class="f_400 f_p f_size_15 mb-0 l_height34">
                      <span style="color: rgb(255, 255, 255)">Phone:</span>
                      <a
                        href="tel:+1-510-790-7020"
                        class="f_400"
                        style="color: rgb(255, 255, 255)"
                        >+1-510-790-7020</a
                      >
                    </p>
                  </div>
                  <form action="#" class="f_subscribe mailchimp" method="post">
                    <input
                      type="text"
                      name="EMAIL"
                      class="form-control memail"
                      placeholder="Email"
                    /><button class="btn btn-submit" type="submit">
                      <i class="ti-arrow-right"></i>
                    </button>
                  </form>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1200ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    About Us
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="/index.html">Company</a></li>
                    <li><a href="/index.html">Jobs</a></li>
                    <li><a href="/index.html">Sitemap</a></li>
                  </ul>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1400ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    Features
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li>
                      <a href="perimp.html">Persoanl Management</a>
                    </li>
                    <li><a href="leave.html">Leave Management</a></li>
                    <li><a href="timesheet.html">Time Management</a></li>
                    <li>
                      <a href="systemaadmin.html">System Administartion </a>
                    </li>
                    <li><a href="recruitment.html">Recruitment</a></li>
                    <li><a href="requestdesk.html">Request Desk</a></li>
                  </ul>
                </div>
              </div>
              <div
                class="react-reveal fadeInUp col-lg-3 col-md-6"
                style="
                  animation-duration: 1800ms;
                  animation-delay: 0ms;
                  animation-iteration-count: 1;
                  opacity: 1;
                "
              >
                <div
                  class="f_widget about-widget pl_70 wow fadeInLeft"
                  data-wow-delay="0.4s"
                >
                  <h3 class="f-title f_600 t_color f_size_18 mb_40">
                    Security Policy
                  </h3>
                  <ul class="list-unstyled f_list">
                    <li><a href="/index.html">Privacy Policy</a></li>
                    <li><a href="/index.html">Service Privacy Policy</a></li>
                    <li><a href="/index.html">Business Policy</a></li>
                    <li><a href="/index.html">General Public License</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-6">
                <p class="mb-0 f_400">© Rewa HR.. 2020 All rights reserved.</p>
              </div>
              <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="f_social_icon_two text-center">
                  <a href="/"><i class="ti-facebook"></i></a
                  ><a href="/"><i class="ti-twitter-alt"></i></a
                  ><a href="/"><i class="ti-linkedin"></i></a
                  ><a href="/"><i class="ti-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
